<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-searchbar type="search" placeholder="Pesquise aqui"
      [(ngModel)]="queryText"
      (ionChange)="filterInstitutions($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Explorar</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
